.input-custom-style input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #D9D9D9;
    width: 302px;
    line-height: 30px;
    font-size: 20px;
    text-align: left;
    opacity: 80%;
    color: #5A5861;
  }